In [1]:
import pandas as pd
import os
from dotenv import load_dotenv

load_dotenv()

In [2]:
cwd = os.getcwd()
wildfire_data_url = cwd + r"\Data\California_Fire_Incidents.csv"

columns = ['AcresBurned', 'ArchiveYear', 'Counties', 'Extinguished', 'Latitude', 'Longitude', 'Started', 'UniqueId']

wildfire_data = pd.read_csv(wildfire_data_url)
wildfire_data = wildfire_data[columns]

print(wildfire_data.shape)
wildfire_data.head()

(1636, 8)

,AcresBurned,ArchiveYear,Counties,Extinguished,Latitude,Longitude,Started,UniqueId
0,257314.0,2013,Tuolumne,2013-09-06T18:30:00Z,37.857000,-120.086000,2013-08-17T15:25:00Z,5fb18d4d-213f-4d83-a179-daaf11939e78
1,30274.0,2013,Los Angeles,2013-06-08T18:30:00Z,34.585595,-118.423176,2013-05-30T15:28:00Z,bf37805e-1cc2-4208-9972-753e47874c87
2,27531.0,2013,Riverside,2013-07-30T18:00:00Z,33.709500,-116.728850,2013-07-15T13:43:00Z,a3149fec-4d48-427c-8b2c-59e8b79d59db
3,27440.0,2013,Placer,2013-08-30T08:00:00Z,39.120000,-120.650000,2013-08-10T16:30:00Z,8213f5c7-34fa-403b-a4bc-da2ace6e6625
4,24251.0,2013,Ventura,2013-05-11T06:30:00Z,0.000000,0.000000,2013-05-02T07:01:00Z,46731fb8-3350-4920-bdf7-910ac0eb715c

In [ ]:
import requests

def get_weather_data(
    param_args=['temperature', 'relative_humidity', 'humidex_index', 'wind_speed', 'wind_direction', 
                'total_cloud_cover', 'sea_surface_temperature', 'total_precipitation', 'snowfall'],
    request_args = ("start", "end", "location", "lat", "lon")
):
    api_url = "https://api.oikolab.com/weather"
    start, end, location, lat, lon = request_args
    
    request_params = {
        param = param_args,
        start = start,
        end = end,
        location = location,
        lat = lat,
        lon = lon,
        api-key = os.getenv('API_KEYasdfasdf'),
    }
    result = request.get(
        api_url,
        params=request_params
    )
    
    return result