In [1]:
import pandas as pd
import os
from dotenv import load_dotenv

load_dotenv()

In [25]:
cwd = os.getcwd()
wildfire_data_url = cwd + r"\Data\California_Fire_Incidents.csv"

columns = ['AcresBurned', 'ArchiveYear', 'Counties', 'Latitude', 'Longitude', 'Started']

wildfire_data = pd.read_csv(wildfire_data_url)
wildfire_data = wildfire_data[columns]
# Drop Nan Values (Should only be 3 in Acres Burned)
wildfire_data = wildfire_data.dropna()
# Cleanup Date
wildfire_data["Started_Date"] = wildfire_data["Started"].apply(lambda x: x[:10])
wildfire_data["Started_Hour"] = wildfire_data["Started"].apply(lambda x: x[11:13])

cleaned_wildfire_data_url = cwd + r"\Cleaned Data\Cleaned_California_Fire_Incidents.csv"
wildfire_data.to_csv(cleaned_wildfire_data_url, index=False)

print(wildfire_data["Counties"].unique())
print([wildfire_data[wildfire_data["Counties"] == county].shape[0] for county in wildfire_data["Counties"].unique()])
wildfire_data.head()

['Tuolumne' 'Los Angeles' 'Riverside' 'Placer' 'Ventura' 'Fresno'
 'Siskiyou' 'Humboldt' 'Tehama' 'Shasta' 'San Diego' 'Kern' 'Sonoma'
 'Contra Costa' 'Butte' 'Tulare' 'Santa Barbara' 'Mariposa' 'Monterey'
 'El Dorado' 'San Bernardino' 'Plumas' 'Modoc' 'San Luis Obispo' 'Madera'
 'Inyo' 'Napa' 'San Benito' 'San Joaquin' 'Lake' 'Alameda' 'Glenn' 'Yolo'
 'Sacramento' 'Stanislaus' 'Solano' 'Merced' 'Mendocino' 'Lassen' 'Amador'
 'Yuba' 'Nevada' 'Santa Clara' 'Calaveras' 'San Mateo' 'Orange' 'Colusa'
 'Trinity' 'Del Norte' 'Mono' 'Alpine' 'Sutter' 'Kings' 'Sierra'
 'Santa Cruz' 'Marin' 'Mexico' 'State of Oregon' 'State of Nevada']
[22, 46, 145, 17, 30, 57, 57, 25, 51, 64, 88, 62, 18, 27, 66, 35, 29, 35, 45, 37, 53, 11, 31, 64, 36, 12, 25, 20, 8, 49, 32, 8, 11, 11, 20, 19, 16, 28, 36, 13, 14, 17, 39, 22, 3, 10, 6, 21, 6, 10, 2, 3, 5, 2, 4, 6, 2, 1, 1]

,AcresBurned,ArchiveYear,Counties,Latitude,Longitude,Started,Started_Date,Started_Hour
0,257314.0,2013,Tuolumne,37.857000,-120.086000,2013-08-17T15:25:00Z,2013-08-17,15
1,30274.0,2013,Los Angeles,34.585595,-118.423176,2013-05-30T15:28:00Z,2013-05-30,15
2,27531.0,2013,Riverside,33.709500,-116.728850,2013-07-15T13:43:00Z,2013-07-15,13
3,27440.0,2013,Placer,39.120000,-120.650000,2013-08-10T16:30:00Z,2013-08-10,16
4,24251.0,2013,Ventura,0.000000,0.000000,2013-05-02T07:01:00Z,2013-05-02,07

In [ ]:
import requests

def get_weather_data(
    param_args=['temperature', 'relative_humidity', 'humidex_index', 'wind_speed', 'wind_direction', 
                'total_cloud_cover', 'sea_surface_temperature', 'total_precipitation', 'snowfall'],
    request_args = ("start", "end", "location", "lat", "lon")
):
    api_url = "https://api.oikolab.com/weather"
    start, end, location, lat, lon = request_args
    
    request_params = {
        param = param_args,
        start = start,
        end = end,
        location = location,
        lat = lat,
        lon = lon,
        api-key = os.getenv('API_KEYasdfasdf'),
    }
    result = request.get(
        api_url,
        params=request_params
    )
    
    return result